<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
</head>


<style>
    index {
        height: 70px;
    }

    ul {
        list-style: none;
        height: 50px
    }

    ul li {
        float: left;
        width: 100px;
        text-align: center;
        font-size: 18px;
        height: 50px;
        line-height: 50px;
    }

</style>
<body style="background-color: bisque">

<div id="index">
    <ul>
        <li><a href="home" target="showframe">Home</a></li>
        <li><a href="BCA" target="showframe">BCA</a></li>
        <li>Deploy</li>
        <li>Temp_1</li>
        <li>Temp_2</li>
        <li>Temp_3</li>
        <li>Temp_4</li>
    </ul>

</div>
</body>
</html>