<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
</head>


<style>

    .nav {
        height: 70px;
        line-height: 70px;
        background-color: bisque;
        border-top: 3px solid #ff8500;
        border-bottom: 1px solid #edeef0;
    }

    .nav a {
        display: inline-block;
        height: 70px;
        padding: 0 20px;
        font-size: 20px;
        color: #4c4c4c;
        text-decoration: none;
    }

    .nav a:hover {
        background-color: beige;
        color: #ff8500;
    }

</style>


<div class="nav">
    <a href="home" target="showframe">Home</a>
    <a href="BCA" target="showframe">BCA</a>
    <a href="SQL" target="showframe">SQL</a>
    <a href="Deploy" target="showframe">Deploy</a>
</div>
</body>
</html>