{% extends "Basic.html" %}

{% block style %}



{% endblock %}






{% block left %}
    <ul>
        <li><a href="#发布计划">发布计划</a></li>
        <li><a href="#常用链接">常用链接</a></li>
        <li><a href="#info">备份信息</a></li>
        <li><a href="#level_info">职级对应信息</a></li>
        <li><a href=""></a></li>

    </ul>
{% endblock %}



{% block right %}
    <div>
        <div id="发布计划">
            <h3>发布计划</h3>
            <table border="1" cellspacing="0" cellpadding="5">
                {% for i in range(release|length) %}
                    {% if i==0 %}
                        <tr>
                            {% for j in range(release[i]|length) %}
                                <th>{{ release[i][j] }}</th>
                            {% endfor %}
                        </tr>
                    {% elif i%2==1 %}
                        <tr>
                            {% for j in range(release[i]|length) %}
                                {% if  j!=5 %}
                                    <td rowspan="2">{{ release[i][j] }}</td>
                                {% else %}
                                    <td>{{ release[i][j] }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            {% for j in range(release[i]|length) %}
                                {% if  j!=5 %}
                                {% else %}
                                    <td>{{ release[i][j] }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>

        </div>


        <br>
        <hr>
        <br>


        <div id="常用链接">
            <h3>常用链接</h3>
            {% for i in links %}
                <div style="float: left">
                    <ul>
                        <h3 style="border-bottom: #050505 solid 2px">{{ i }}</h3>
                        {% for j in links[i] %}
                            <li><a href="{{ links[i][j] }}" target="_blank">{{ j }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div style="clear: both"></div>
        <br>
        <hr>
        <br>

        <div id='info'>
            <h3>备份信息</h3>
            <div style=" float:left">
                00030$00030bB<br>
                7426983826Tao!<br>
                oaWQ6uNaAlegV6M2siw7Ja56wGJ0<br>
            </div>

            <div style="margin-left:50px; float: left">
                foapp Dlguc65o<br>
                foapp Blguw62o<br>
                foapp Twf45w62o<br>
            </div>

            <div style="margin-left: 50px; float: left">
                特殊change参考<br>
                UAT:CHG0045109<br>
                PROD:CHG0045111<br>
            </div>

            <div style="margin-left: 50px; float: left">
                PROD BC: 000000000063 (ywms_2019/职级90)
            </div>
        </div>
        <div style="clear: both"></div>
        <br>
        <hr>
        <br>

        <div id="level_info">
            <h3>职级对应信息</h3>
            <table border="1" cellspacing="0" cellpadding="5" style="float: left">
                {% for i in range(0,29) %}
                    {% if i==0 %}
                        <tr>
                            {% for j in range(level_info[i]|length) %}
                                <th>{{ level_info[i][j] }}</th>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            {% for j in range(level_info[i]|length) %}
                                <td>{{ level_info[i][j] }}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <table border="1" cellspacing="0" cellpadding="5" style="float: left">
                {% for i in range(level_info|length) %}
                    {% if i==0 %}
                        <tr>
                            {% for j in range(level_info[i]|length) %}
                                <th>{{ level_info[i][j] }}</th>
                            {% endfor %}
                        </tr>
                    {% elif i>28 %}
                        <tr>
                            {% for j in range(level_info[i]|length) %}
                                <td>{{ level_info[i][j] }}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>

        <div style="clear: both"></div>

        <br>
        <hr>
        <br>


    </div>
{% endblock %}