{% extends "basic.html" %}


{% block style %}
ol {list-style: ;
    }
{% endblock %}



{% block left %}
    <ol>
        <li><a href="#Account Code Setup">Account Code Setup</a></li>
        <li><a href="#New General Ledger Field">New General Ledger Field</a></li>
        <li><a href="#Import Batches">Import Batches</a></li>
        <li><a href="#Create Batch">Create Batch</a></li>
        <li><a href="#Write Off Batches">Write Off Batches</a></li>
        <li><a href="#Write Off Reinstate">Write Off Reinstate</a></li>
        <li><a href="#Delete Batch ">Delete Batch </a></li>
    </ol>
{% endblock %}



{% block right %}
<div style="line-height:30px">
    <div id = "Account Code Setup">
    <h3>1. Account Code Setup</h3>
    1.1. My Workspace –> Account Manage –> System Setup –> Account Management Rules.<br>
    1.2. Account Codes标签页 –> Create Account Code.<br>
    1.3. 输入对应内容：<br>


    <table border="1" cellspacing="0">

        <tr>
        <th colspan="3" bgcolor="gray" style="color:white">Account_Code_Setup</th>
        </tr>

        <tr>
            <td rowspan="3" bgcolor="#ccc" >1-Account Code</td>
            <td>Account Code</td>
            <td>随意4个数字</td>
        </tr>
        <tr>
            <td>Shot Description</td>
            <td>随意</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>随意</td>
        </tr>
        <tr>
            <td bgcolor="#ccc">2-Apply Batch Type</td>
            <td>Cash Payment</td>
            <td></td>
        </tr>
        <tr>
            <td bgcolor="#ccc">3-Apply Balance Group</td>
            <td>Service Pay</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="4" bgcolor="#ccc">4-Main General Ledger</td>
            <td>Company</td>
            <td>Company</td>
        </tr>
        <tr>
            <td>Business Unit</td>
            <td>0001-Payable</td>
        </tr>
        <tr>
            <td>Object</td>
            <td>400112-other commission</td>
        </tr>
        <tr>
            <td>Subsidiary</td>
            <td>037-037</td>
        </tr>
        <tr>
            <td rowspan="4" bgcolor="#ccc">5-Offset General Ledger</td>
            <td>Company</td>
            <td>Company</td>
        </tr>
        <tr>
            <td>Business Unit</td>
            <td>0001-Payable</td>
        </tr>
        <tr>
            <td>Object</td>
            <td>110101-social insurance</td>
        </tr>
        <tr>
            <td>Subsidiary</td>
            <td>004-004</td>
        </tr>
    </table>
    <br><br>
    <hr>
    </div>

    <div id = "New General Ledger Field">
 <strong>2. New General Ledger Field</strong><br>
    2.1. My Workspace –> Account Manage –> System Setup –> General Ledger Management.<br>
    2.2.输入对应内容,然后点击"Create"。<br>
    <table border="1" cellspacing="0">

        <tr>
        <th colspan="3" bgcolor="gray" style="color:white">New General Ledger Field</th>
        </tr>

        <tr>
            <td>
                FieldID
            </td>
            <td>
                6（没有地方填，表格默认就写这个）
            </td>
        </tr>
        <tr>
            <td>
                Filed Name
            </td>
            <td>
                随意
            </td>
        </tr>
        <tr>
            <td>
                Description
            </td>
            <td>
                随意
            </td>
        </tr>
        <tr>
            <td>
                Field Type
            </td>
            <td>
                Alphanumeric
            </td>
        </tr>
        <tr>
            <td>
                Maximum Length
            </td>
            <td>
                20
            </td>
        </tr>
        <tr>
            <td>
                Sequence
            </td>
            <td>
                Bottom
            </td>
        </tr>
<tr><td colspan="3"></td></tr>
            <th colspan="3" bgcolor="gray" style="color:white">New General Ledger Field</th>
            </tr>

            <tr>
                <td>
                    Value
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    Value Description
                </td>
                <td>
                    ABCDEFG
                </td>
    </table>
    <br><br>
    <hr>
    </div>

    <div id = "Import Batches">
        <strong>3. Import Batches</strong><br>
        3.1. My Workspace –> Account Manage –> Import Batch.<br>
        3.2. 输入对应内容：<br>
        <table border="1" cellspacing="0">

            <tr>
            <th colspan="3" bgcolor="gray" style="color:white">Import Batches</th>
            </tr>

            <tr>
                <td>
                    Import Category
                </td>
                <td>
                    Account Transaction
                </td>
            </tr>
            <tr>
                <td>
                    Import Type
                </td>
                <td>
                    GenericImport
                </td>
            </tr>
            <tr>
                <td>
                    Import File
                </td>
                <td>
                    GenericImport.xlx 文件（文件名与以前上传的不能重复）
                </td>
            </tr>
            <tr>
                <td>
                    Comments
                </td>
                <td>
                    随意
                </td>
            </tr>
            <tr>
                <td>
                    Requested By
                </td>
                <td>
                    随意
                </td>
            </tr>
        </table><br>
        3.3 <span style="color:red">点击 Import后，记录下BatchID</span><br>
        <img src="picture/ImportBatch.png">
        <hr>
    </div>

    <div id = "Create Batch">
        <strong>4. Create Batch</strong><br>
        4.1. My Workspace –> Account Manage –> View Batch Transactions.<br>
        4.2. Create Batch –> Batch Type, Comments, Requested By 随便填。<br>
        <span style="color:red">(点击 Import后，记录下BatchID)</span><br>
        <img src="picture/CreateBatch_01.png"><br>
        <img src="picture/CreateBatch_02.png"><br>
        <hr>
    </div>

    <div id = "Write Off Batches">
        <strong>5. Write Off Batches</strong><br>
        5.1. My Workspace –> Account Manage –> Write off Transactions Management<br>
        5.2. Balance Range 填写 From 0.01 to 0.02，点击 “Search” <span style="color:red">查找并记录下Consultant Number</span>
         (可能搜不到，此时将From 至 to 的范围放大，直到能找出为止)。<br>
        <img src="picture/WriteOffBatches_01.png"><br>
        5.3. 点击“Next”  –> Batch Type 填写 “Write Off General Revenue”；Transaction Description 和 Comments 随便填写 –> 点击 “Finish” –> <span style="color:red"> 生成并记录下 BatchID。</span><br>
        <img src = "picture/WriteOffBatches_02.png"><br>
        5.4. 4.	My workspace输入搜索 “View Batch Transactions” –> “Unposted Batch” tab中找到上一步的batch 并审批通过，之后该batch 进入 “Ready for post Batch” tab  –> 用另一个帐号的 My workspace输入搜索 “View Batch Transactions”  –>  Ready for Post Batch,双击该batch 去 “Post batch”.<br>
        <img src = "picture/WriteOffBatches_03.png"><br>
        <img src = "picture/WriteOffBatches_04.png"><br>

        <hr>
    </div>

    <div id = "Write Off Reinstate">
        <strong>6. Write Off Reinstate</strong><br>
        6.1. 找到5步搜索出的consultant 人员的工作台 –> 搜索 Account Management –> Account Write Off Reinstate  –> 点击 “Manage”下面文件图标 –> 点击 “Create Case” <br>
        6.2. Account Code ，填写本次新建的Account Code，然后提交审核，不用确认”pending Approval”状态就好。<br>
        6.3. 去 consultant下 –> Account Transaction 查看并记录 Transaction ID。<br>
        <img src = "picture/WriteOffReinstate_01.png"><br>
        <img src = "picture/WriteOffReinstate_02.png"><br>
        <img src = "picture/WriteOffReinstate_03.png"><br>
        <img src = "picture/WriteOffReinstate_04.png"><br>
        <img src = "picture/WriteOffReinstate_05.png"><br>
        <hr>
    </div>

    <div id = "Delete Batch">
        <strong>7. Delete Batch</strong><br>
        7.1. My Workspace –> Account Manage –> View Batch Transactions ，在Unposted batch 里找一个本次新建的batch ，点击 Delete Batch –> 该batch 出现在 Deleted Batch里即可 <br>
        7.2. Account Code ，填写本次新建的Account Code，然后提交审核，不用确认”pending Approval”状态就好。<br>
        7.3. 去 consultant下 –> Account Transaction 查看并记录 Transaction ID。<br>
        <img src = "picture/Delete Batch_01.png"><br>
        <img src = "picture/Delete Batch_02.png"><br>

        <hr>
    </div>

</div>
{% endblock %}