<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>项目_01</title>

    <style>
        #left {
            position: fixed;
            width: 10%
        }

        #right {
            float: left;
            margin-left: 10%;
            width: 90%
        }

        ul li {
            list-style: none;
        }

        a {
            text-decoration: none;
            font-size: 20px;
            line-height: 30px;
            color: #050505;
        }

        a:hover {
            background-color: beige;
            color: #ff8500;
        }
    </style>
</head>
<body>

<div id="left">
    <ul>
        <li><a href="#UAT_BC">UAT BC</a></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div id="right" style="background-color: cornsilk;">
    <div id="UAT_BC" style="margin-left: 50px">
        <h3>UAT_BC</h3>
        <table border="1" cellspacing="0" cellpadding="5" style="float: left">
            {% for i in range(UAT_BC|length//2+1) %}
                {% if i==0 %}
                    <tr>
                        {% for j in range(UAT_BC[i]|length) %}
                            <th>{{ UAT_BC[i][j] }}</th>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        {% for j in range(UAT_BC[i]|length) %}
                            {% if UAT_BC[i][j] == None %}
                                <td></td>
                            {% else %}
                                <td>{{ UAT_BC[i][j] }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        <table border="1" cellspacing="0" cellpadding="5" style="float: left">
            {% for i in range(UAT_BC|length) %}
                {% if i==0 %}
                    <tr>
                        {% for j in range(UAT_BC[i]|length) %}
                            <th>{{ UAT_BC[i][j] }}</th>
                        {% endfor %}
                    </tr>
                {% elif i>=UAT_BC|length//2+1  %}
                    <tr>
                        {% for j in range(UAT_BC[i]|length) %}
                            {% if UAT_BC[i][j] == None %}
                                <td></td>
                            {% else %}
                                <td>{{ UAT_BC[i][j] }}</td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        <hr>


    </div>


</body>
</html>