{% extends "base.html" %}
{% block title %}
    BCA
{% endblock %}

{% block left %}
    <ul>
        <li><a href="#BC_info">UAT BC信息</a></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

{% endblock %}


{% block right %}

    <div style="margin-left: 50px;">
    <h3 id="BC_info">UAT BC信息</h3>
        <table border="1" cellpadding="10" cellspacing="0">
            {% for i in range(0,(BC_info|length)) %}
                {% if i==0 %}
                    <tr>
                        {% for j in range(0,(BC_info[i]|length)) %}
                            <th class='a'>{{ BC_info[i][j] }}</th>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        {% for j in range(0,(BC_info[i]|length)) %}
                            <td>{{ BC_info[i][j] }}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>


{% endblock %}