<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>table</title>
</head>
<body>

<div id="plan_table">
    <h3>发布计划</h3>
    <table border="1" cellspacing="0" cellpadding="5">
        {% for i in range(plan_info|length) %}
            {% if i==0 %}
                <tr>
                    {% for j in range(plan_info[i]|length) %}
                        <th>{{ plan_info[i][j] }}</th>
                    {% endfor %}
                </tr>
            {% elif i%2==1 %}
                <tr>
                    {% for j in range(plan_info[i]|length) %}
                        {% if  j!=5 %}
                            <td rowspan="2">{{ plan_info[i][j] }}</td>
                        {% else %}
                            <td>{{ plan_info[i][j] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    {% for j in range(plan_info[i]|length) %}
                        {% if  j!=5 %}
                        {% else %}
                            <td>{{ plan_info[i][j] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

<hr>

<div id="BC_table">
    <h3>BC信息</h3>
    <table border="1" cellspacing="0" cellpadding="5">
        {% for i in range(BC_info|length) %}
            {% if i==0 %}
                <tr>
                    {% for j in range(BC_info[i]|length) %}
                        <th>{{ BC_info[i][j] }}</th>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    {% for j in range(BC_info[i]|length) %}
                        <td>{{ BC_info[i][j] }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

<hr>

<div style="margin-left: 50px">
    <h3 id="links">常用链接</h3>
    {% for i in links %}
        <div style="float: left;margin-left: 50px;width: {{ wd }}%">
            <h3>{{ i }}</h3>
            {% for j in links[i] %}
                <a href="{{ links[i][j] }}" target="_blank">{{ j }}</a><br>
            {% endfor %}
        </div>
    {% endfor %}

</div>




</body>
</html>